<!doctype html>
<html lang="en">
<head>
  <title>Maps</title>
        <link rel="stylesheet" href="http://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <style type="text/css">
                body {
                    padding: 0;
                    margin: 0;
                }
                html, body, #map {
                    height: 100%;
                    font-family: 'Milonga', cursive;
                }
                .leaflet-container .leaflet-control-zoom {
                    margin-left: 13px;
                    margin-top: 70px;
                }
                #map { z-index: 1;}
                #title { z-index: 2; position: absolute; left: 10px; }
        </style>

</head>
<body>
        <h1 id="title">Maps</h1>
        <div id="map"></div>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
          integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
          crossorigin=""></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
        <script>
          var map = L.map('map').setView([51.454, -2.598], 14);
          var markerLayerGroup = L.layerGroup().addTo(map);
          L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
          }).addTo(map);
          $.getJSON("bus.geojson",function(data){
            L.geoJson(data).addTo(map);
          });
          L.easyButton('<strong>B</strong>', function(btn, map){
            var bristol = [51.454, -2.598];
            map.setView(bristol, 14);
          }).addTo(map);

          L.easyButton('<strong>A</strong>', function(btn, map){
            var bath = [51.3815, -2.36];
            map.setView(bath, 14);
          }).addTo(map);

          L.easyButton('<strong>C</strong>', function(btn, map){
            var cardiff = [51.481, -3.176];
            map.setView(cardiff, 13);
          }).addTo(map);

          // load GeoJSON from an external file
          //$.getJSON("boats.geojson",function(data){
          //  var boatIcon = L.icon({
          //    iconUrl: 'boat.png',
          //    iconSize: [20,20]
          //  });
            // add GeoJSON layer to the map once the file is loaded
          //  L.geoJson(data,{
          //    pointToLayer: function(feature,latlng){
          //      var marker = L.marker(latlng,{icon: boatIcon});
          //      marker.bindPopup(feature.properties.Nom + '<br/>' + feature.properties.Lieu + '<br/>' + feature.properties.Date);
          //      return marker;
          //    }
          // }).addTo(map);
          //});

          var popup = L.popup();
          map.on('click', function(e) {
            popup
              .setLatLng(e.latlng)
              .setContent(e.latlng.toString())
              .openOn(map)
          });
        </script>
</body>
</html>
